# Compiled class file
*.class
# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
!minigame.jar
*.war
*.nar
*.ear
*.zip
!KIT_해커톤_공모전_신청양식.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

# settingFile
.gradle/
.idea/
