<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main_layout}">


<div layout:fragment="content">
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/chat/chat.css}">
    </th:block>
    <div id = "main-container">
        <div id = "menu-container">
            <ul>
                <li>방 만들기</li>
                <li>빠른 입장</li>
            </ul>
        </div>
        <div id = "total-mem-container">
        </div>
        <div id = "chat-room-container">
        </div>
        <div id = "user-view-container">
        </div>
        <div id = "chat-container">
        </div>
    </div>
    <script>

    </script>
</div>
</html>