<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main_layout}">

<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/home/home.css}">
    <link rel="stylesheet" th:href="@{/css/home/modal.css}">
    <link rel="stylesheet" th:href="@{/css/animation/Ani.css}">

</th:block>
<div layout:fragment="content">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <div id = "main-container">
        <div id = "main-content-container">
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Monsters
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <button type="button" class="btn btn-light btn-head">Head</button>
                            <button type="button" class="btn btn-light btn-body">Body</button>
                            <button type="button" class="btn btn-light btn-worm">Worm</button>
                            <button type="button" class="btn btn-light btn-fly">Fly</button>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Items
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <button type="button" class="btn btn-light btn-crown">crown</button>
                            <button type="button" class="btn btn-light btn-darkwings">darkwings</button>
                            <button type="button" class="btn btn-light btn-greenmus">green mushroom</button>
                            <button type="button" class="btn btn-light btn-mantle">mantle</button>
                            <button type="button" class="btn btn-light btn-meat">meat</button>
                            <button type="button" class="btn btn-light btn-piggybank">piggybank</button>
                            <button type="button" class="btn btn-light btn-pillcollecter">pill collecter</button>
                            <button type="button" class="btn btn-light btn-pyro">pyro</button>
                            <button type="button" class="btn btn-light btn-question">question</button>
                            <button type="button" class="btn btn-light btn-redmus">red mushroom</button>
                            <button type="button" class="btn btn-light btn-wings">wings</button>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Contents
                        </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <button type="button" class="btn btn-light">Light</button>
                            <button type="button" class="btn btn-light">Light</button>
                            <button type="button" class="btn btn-light">Light</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id = "main-slide-container">
            <div id = "main-slide-cover">
                <!--  기본 화면 -->
                <div id = "home-default-box" class = "main-slide-box">
                    <div class = "home-default-logo">
                        <img th:src="@{images/logo/isaaclogo.png}" class="home-logo-img"/>
                    </div>
                    <span>
                    "The Binding of Isaac" is a popular indie video game developed by Edmund McMillen and Florian Himsl. The game was initially released in 2011 and has seen multiple expansions and updates since then. It falls under the roguelike genre and is known for its challenging gameplay, randomly generated levels, and distinctive art style.<br>
                        The game's storyline draws inspiration from the biblical tale of the binding of Isaac, where Abraham is tested by God and asked to sacrifice his son Isaac. In the game, players control a character named Isaac, a child who is trying to escape his mother's basement after she receives a message from God instructing her to sacrifice him. The gameplay involves navigating through procedurally generated dungeon-like levels, battling enemies, and facing various bosses.
                    </span>
                </div>
                <!--        몬스터 섹션        -->
                <div id = "monster-box-head" class = "main-slide-box">
                    <div class = "main-img-box">
                        <img th:src="@{images/monster/icon/head.png}" class="main-ex-img"/>
                    </div>
                    <table class="table table-dark main-text-container">
                        <thead></thead>
                        <tbody>
                        <tr>
                            <th>이름</th>
                            <td>Horf</td>
                        </tr>
                        <tr>
                            <th>체력</th>
                            <td>20</td>
                        </tr>
                        <tr>
                            <th>속도</th>
                            <td>2</td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="main-home-line">
                        <span>Note</span>
                    </div>
                    <span>
                        This monster moves diagonally. <br>
                        It moves at a constant speed and bounces when it hits the wall.<br>
                        Although it is not a threatening enemy, it can be attacked unexpectedly due to its bouncing habit.<br>
                        Head remain immobile in one spot (although slightly moving with every shot), firing blood shots at Isaac when he gets in their range. They will fire shots directly at Isaac when they're about 1/2 room width away from them, even though their shots can travel the entire room's length. This makes it possible to outrange the Horfs in almost all encounters with them; even if Isaac is in range, they have slow rate of fire and their shots are slow-travelling as well, and can be dodged simply by moving slightly to the side.<br>
                        Besides having their eyes gouged out, Horfs also lack their upper teeth. This, when combined with the gargling sound made when they fire, suggests that their shots are formed by the blood from their mouth, instead of their eyes.
                        They are named "horfs" by the "horfing" sound they make.
                    </span>
                </div>
                <div id = "monster-box-body" class = "main-slide-box">
                    <div class = "main-img-box">
                        <img th:src="@{images/monster/icon/body.png}" class = "main-ex-img"/>
                    </div>
                    <table class="table table-dark main-text-container">
                            <thead></thead>
                            <tbody>
                                <tr>
                                    <th>이름</th>
                                    <td>Pacer</td>
                                </tr>
                                <tr>
                                    <th>체력</th>
                                    <td>20</td>
                                </tr>
                                <tr>
                                    <th>속도</th>
                                    <td>1</td>
                                </tr>
                            </tbody>
                    </table>
                    <div class="main-home-line">
                        <span>Note</span>
                    </div>
                    <span>
                        Pacers are headless children with a bloody neck.<br>
                        Walks towards Isaac, dealing contact damage.<br>
                        He knows where the player is, and He keeps following player, so keep moving.<br>
                        This monster alone isn't a threat, but if you're with another monster, you'll be more likely to be attacked.<br>
                        Pacer will attempt to walk towards Isaac by taking the most direct route possible. If there is no way to reach Isaac, due to obstacles such as Rocks or Poop blocking the way, they will stand still and avoid moving towards Isaac until a proper route is created.
                    </span>
                </div>
                <div id = "monster-box-worm" class = "main-slide-box">
                    <div class = "main-img-box">
                        <img th:src="@{images/monster/icon/Charger.png}" class = "main-ex-img"/>
                    </div>
                    <table class="table table-dark main-text-container">
                        <thead></thead>
                        <tbody>
                        <tr>
                            <th>이름</th>
                            <td>Charger</td>
                        </tr>
                        <tr>
                            <th>체력</th>
                            <td>20</td>
                        </tr>
                        <tr>
                            <th>속도</th>
                            <td>1, 4</td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="main-home-line">
                        <span>Note</span>
                    </div>
                    <span>
                    Chargers are a more advanced form of Maggot, and they're encountered more often as well, present in The Caves, The Catacombs and The Depths. As suggested by their names, they can charge toward Isaac when lining up.<br/>
                    They possess a smiling face of sorts, and look quite harmless as they slowly crawl along without attempting to follow Isaac. If a Charger lines up with Isaac vertically or horizontally, they will immediately and quickly charge in a straight line towards him. Because they're always encountered in groups of at least four, avoiding them quickly becomes a problem.<br/>
                    Chargers do not seem to notice Isaac unless he is moving. If Isaac stands still and a Charger lines up with him, they will continue crawling without attacking him.
                    </span>
                </div>
                <div id = "monster-box-fly" class = "main-slide-box">
                    <div class = "main-img-box">
                        <img th:src="@{images/monster/icon/detailfly.png}" class = "main-ex-img"/>
                    </div>
                    <table class="table table-dark main-text-container">
                        <thead></thead>
                        <tbody>
                        <tr>
                            <th>이름</th>
                            <td>Attack fly</td>
                        </tr>
                        <tr>
                            <th>체력</th>
                            <td>20</td>
                        </tr>
                        <tr>
                            <th>속도</th>
                            <td>2</td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="main-home-line">
                        <span>Note</span>
                    </div>
                    <span>
                    Attack Flies are red-and-black flashing type of fly enemies that will follow Isaac relentlessly until killed. Like regular Black Flies and few other types, they are commonly found in every chapter.<br/>
                    Their only way of damaging Isaac is by contact, and they move rather slowly, making them easy to kill. However, they can be dangerous when found in groups, as they can swarm around Isaac quickly.
                    Attack Flies turn into regular Black Flies if Isaac has Skatole. They take a small amount of time to convert into Black Flies, so it is possible for Isaac to be damaged if the player is not careful.
                    </span>
                </div>
                <!--         아이템 섹션       -->
                <div id = "item-box-crown" class = "main-slide-box">
                    <div class = "main-img-box">
                        <img th:src="@{images/items/icon/crown.png}" class = "main-ex-img"/>
                    </div>
                    <table class="table table-dark main-text-container">
                        <thead></thead>
                        <tbody>
                        <tr>
                            <th>이름</th>
                            <td>crown</td>
                        </tr>
                        <tr>
                            <th>가격</th>
                            <td>800</td>
                        </tr>
                        <tr>
                            <th>성능</th>
                            <td>Increase Your Damage 1point and speed 2 point </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="main-home-line">
                        <span>Note</span>
                    </div>
                    <span>
                    Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
                    The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.
                    </span>
                </div>
                <div id = "item-box-darkwings" class = "main-slide-box">
                    <div class = "main-img-box">
                        <img th:src="@{images/items/icon/darkwings.png}" class = "main-ex-img"/>
                    </div>
                    <table class="table table-dark main-text-container">
                        <thead></thead>
                        <tbody>
                        <tr>
                            <th>이름</th>
                            <td>darkwings</td>
                        </tr>
                        <tr>
                            <th>가격</th>
                            <td>1000</td>
                        </tr>
                        <tr>
                            <th>설명</th>
                            <td>Flight ability and Damage increases by 100%</td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="main-home-line">
                        <span>Note</span>
                    </div>
                    <span>
                    Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
                    The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.
                    </span>
                </div>
                <div id = "item-box-greenmus" class = "main-slide-box">
                    <div class = "main-img-box">
                        <img th:src="@{images/items/icon/greenmus.png}" class = "main-ex-img"/>
                    </div>
                    <table class="table table-dark main-text-container">
                        <thead></thead>
                        <tbody>
                        <tr>
                            <th>이름</th>
                            <td>green mushroom</td>
                        </tr>
                        <tr>
                            <th>가격</th>
                            <td>500</td>
                        </tr>
                        <tr>
                            <th>설명</th>
                            <td>Revive you one time</td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="main-home-line">
                        <span>Note</span>
                    </div>
                    <span>
                    Green mushroom is a passive item.Upon death, the player will respawn in the previous room with full HP, at the cost of using up the 1UP. It is possible to find the 1UP multiple times in the same run, although this is rare.If you have collected 1UP and Ankh and die, only 1UP will trigger. The ankh will only trigger if you die a second time (provided you do not have another 1UP).
                    If you collect 1UP while respawned as ??? using the Ankh, if you die you will respawn with no hearts shown on the screen and will only have one hearts worth of health before dying.
                    If you have collected 1UP and Dead Cat, you will have 10 lives. Isaac, however, will always be reanimated with only 1 heart health in total, unless the 1UP was obtained afterwards.
                    Sister Maggy or Little Steve will turn into Brother Bobby until exiting the room.
                    Having a 1UP while doing a deal with the Devil that will kill Isaac, or dying at any other time when you have no normal Heart Containers, results in Isaac respawning with zero Heart Containers, unless Dead Cat was bought before.


                     </span>
                </div>
                <div id = "item-box-mantle" class = "main-slide-box">
                    <div class = "main-img-box">
                        <img th:src="@{images/items/icon/mantle.png}" class = "main-ex-img"/>
                    </div>
                    <table class="table table-dark main-text-container">
                        <thead></thead>
                        <tbody>
                        <tr>
                            <th>이름</th>
                            <td>mantle</td>
                        </tr>
                        <tr>
                            <th>가격</th>
                            <td>200</td>
                        </tr>
                        <tr>
                            <th>설명</th>
                            <td>Defence you on time</td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="main-home-line">
                        <span>Note</span>
                    </div>
                    <span>
                    Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
                    The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.
                    </span>
                </div>
                <div id = "item-box-meat" class = "main-slide-box">
                    <div class = "main-img-box">
                        <img th:src="@{images/items/icon/meat.png}" class = "main-ex-img"/>
                    </div>
                    <table class="table table-dark main-text-container">
                        <thead></thead>
                        <tbody>
                        <tr>
                            <th>이름</th>
                            <td>meat</td>
                        </tr>
                        <tr>
                            <th>가격</th>
                            <td>500</td>
                        </tr>
                        <tr>
                            <th>설명</th>
                            <td>Increase Your Damage and Hp 1 point</td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="main-home-line">
                        <span>Note</span>
                    </div>
                    <span>
                    Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
                    The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.
                    </span>
                </div>
                <div id = "item-box-piggybank" class = "main-slide-box">
                    <div class = "main-img-box">
                        <img th:src="@{images/items/icon/piggybank.png}" class = "main-ex-img"/>
                    </div>
                    <table class="table table-dark main-text-container">
                        <thead></thead>
                        <tbody>
                        <tr>
                            <th>이름</th>
                            <td>piggybank</td>
                        </tr>
                        <tr>
                            <th>가격</th>
                            <td>200</td>
                        </tr>
                        <tr>
                            <th>설명</th>
                            <td>If you start with this item, you will receive additional coin</td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="main-home-line">
                        <span>Note</span>
                    </div>
                    <span>
                    Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
                    The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.
                    </span>
                </div>
                <div id = "item-box-pillcollecter" class = "main-slide-box">
                    <div class = "main-img-box">
                        <img th:src="@{images/items/icon/pill.png}" class = "main-ex-img"/>
                    </div>
                    <table class="table table-dark main-text-container">
                        <thead></thead>
                        <tbody>
                        <tr>
                            <th>이름</th>
                            <td>pill collecter</td>
                        </tr>
                        <tr>
                            <th>가격</th>
                            <td>500</td>
                        </tr>
                        <tr>
                            <th>설명</th>
                            <td>When you use a pill, you get 0.2 damage</td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="main-home-line">
                        <span>Note</span>
                    </div>
                    <span>
                    Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
                    The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.
                    </span>
                </div>
                <div id = "item-box-pyro" class = "main-slide-box">
                    <div class = "main-img-box">
                        <img th:src="@{images/items/icon/pyro.png}" class = "main-ex-img"/>
                    </div>
                    <table class="table table-dark main-text-container">
                        <thead></thead>
                        <tbody>
                        <tr>
                            <th>이름</th>
                            <td>pyro</td>
                        </tr>
                        <tr>
                            <th>가격</th>
                            <td>1000</td>
                        </tr>
                        <tr>
                            <th>설명</th>
                            <td>Convert explosion immunity and explosion damage to recovery</td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="main-home-line">
                        <span>Note</span>
                    </div>
                    <span>
                    Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
                    The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.
                    </span>
                </div>
                <div id = "item-box-question" class = "main-slide-box">
                    <div class = "main-img-box">
                        <img th:src="@{images/items/icon/question.png}" class = "main-ex-img"/>
                    </div>
                    <table class="table table-dark main-text-container">
                        <thead></thead>
                        <tbody>
                        <tr>
                            <th>이름</th>
                            <td>question</td>
                        </tr>
                        <tr>
                            <th>가격</th>
                            <td>???</td>
                        </tr>
                        <tr>
                            <th>설명</th>
                            <td>???</td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="main-home-line">
                        <span>Note</span>
                    </div>
                    <span>
                    Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
                    The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.
                    </span>
                </div>
                <div id = "item-box-redmus" class = "main-slide-box">
                    <div class = "main-img-box">
                        <img th:src="@{images/items/icon/redmus.png}" class = "main-ex-img"/>
                    </div>
                    <table class="table table-dark main-text-container">
                        <thead></thead>
                        <tbody>
                        <tr>
                            <th>이름</th>
                            <td>red mushroom</td>
                        </tr>
                        <tr>
                            <th>가격</th>
                            <td>800</td>
                        </tr>
                        <tr>
                            <th>설명</th>
                            <td>All stats increase by 1 point, damage increases by 50%</td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="main-home-line">
                        <span>Note</span>
                    </div>
                    <span>
                        Magic Mushroom is a passive item. A red mushroom with white polka dots.This item is a reference to Nintendo's Super Mario Bros. series, shown by the colors of the mushroom, and the fact that Isaac grows in size when he picks up the item, much like the mushrooms in the Super Mario Bros. games.Isaac becomes larger.
                        Fully heals Isaac, increases Range by 7.75, Speed by 0.3, Damage by 0.3, Health by one, and multiplies damage by 1.5.
                    </span>
                </div>
                <div id = "item-box-wings" class = "main-slide-box">
                    <div class = "main-img-box">
                        <img th:src="@{images/items/icon/wings.png}" class = "main-ex-img"/>
                    </div>
                    <table class="table table-dark main-text-container">
                        <thead></thead>
                        <tbody>
                        <tr>
                            <th>이름</th>
                            <td>halo</td>
                        </tr>
                        <tr>
                            <th>가격</th>
                            <td>1000</td>
                        </tr>
                        <tr>
                            <th>설명</th>
                            <td>Flight ability and All stats increase by 1 point</td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="main-home-line">
                        <span>Note</span>
                    </div>
                    <span>
                    Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
                    The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.
                    </span>
                </div>

            </div>
        </div>
    </div>
    <script type="text/javascript" th:src="@{/js/view/home.js}"></script>
</div>
</html>