<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main_layout}">

<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/home/home.css}">
    <link rel="stylesheet" th:href="@{/css/home/modal.css}">
    <link rel="stylesheet" th:href="@{/css/animation/bodyAni.css}">
    <link rel="stylesheet" th:href="@{/css/animation/headAni.css}">

</th:block>
<div layout:fragment="content">
    <div id = "main-container">
        <div id = "main-content-container">
            <div>

            </div>
            <div>

            </div>
            <div>

            </div>
        </div>
        <div id = "main-slide-container">

        </div>
    </div>
</div>
</html>