<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main_layout}">

<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/home/home.css}">
    <link rel="stylesheet" th:href="@{/css/home/modal.css}">
    <link rel="stylesheet" th:href="@{/css/animation/Ani.css}">
    <link rel="stylesheet" th:href="@{/css/inven/inven.css}">

</th:block>
<div layout:fragment="content">
    <div id="inven-wrap">
        <div id = "inven-side-container">
            <div id = "preview-box">
                <img th:src="@{/images/map/caves.png}" class = "preview-bg" id = "preview-bg"/>
                <div class="preview-img-head"></div>
                <div class="preview-img-body"></div>
            </div>
        </div>
        <div id = "inven-main-container">
            <div id = "inven-category-box">
            </div>
            <div class="inven-item-container" th:each="inven, loop : ${inven}">
                <div class="item-img-container">
                    <img class="inven-skin-img" th:src="${inven.img_url}">
                    <img class="table-img" src="/images/items/item_table.png"/>
                </div>
                <div class="item-amount">
                    <span class="inven-item-x">X</span><span class="inven-item-amount" th:text="${inven.amount}"></span>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" th:src="@{/js/view/inven.js}"></script>
</div>
</html>