<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.isaacwebproject.member.mapper.MemberMapper">

    <select id="checkUser" resultType="int" parameterType="java.util.Map">
        select count(*) as  cnt
        from member
        where ID =  #{ID}
    </select>

    <insert id="insertMember" parameterType="com.example.isaacwebproject.member.vo.Member$Request">

        insert into member
        (MEMID, ID, PW, NICKNAME)
        values(IDUP.NEXTVAL, #{ID}, #{PW}, #{nickname})

    </insert>

    <select id="getMemberInfo"  parameterType="com.example.isaacwebproject.member.vo.Member$GetUserInfo">
        select *
        from member
        where user_id =  #{memId}
    </select>

</mapper>