#main-container {
    height: 100%;
    width: 1000px;
    display : grid;
    background-color: #ccc;
    box-shadow: 1px 3px 5px 3px #dadce0;
    margin : 0 auto;
    gap : 2px;
    grid-template :
        " a a " 50px
        " b c " 3fr
        " d e " 2fr / 1fr 3fr;
}
#menu-container {
    grid-area: a;
    background : white;
}
#menu-container ul {
    transform: translateY(30%);
}
#total-mem-container {
    grid-area : b;
    background : white;
    text-align : center;
    justify-content: center;
    display : flex;
}
#total-mem-container ul {
    margin : 0;
    padding : 0;
    justify-content : center;
}
#total-mem-container li {
    width: 100%;
    display : block;
    font-size : 0.8rem;
    border-left : none;
    text-align : center;
    border-bottom : 1px solid #ccc;

}
#chat-room-container {
    grid-area : c;
    width : 100%;
    padding : 10px;
    background : white;
    display : flex;
    flex-wrap : wrap;
    gap : 1.2rem;
    overflow-y : auto;

}
.chat-room-card {
    height : 80px;
    min-width : 300px;
    flex-basis: 300px;
    flex-grow: 0;
    border : 1px solid #ccc;
    border-radius : 5px;
    margin : 0 auto;
    box-shadow: 1px 3px 5px 3px #dadce0;
    justify-content : center;
    text-align : center;
    float : right;
    transition: background-color 0.5s;
    display: grid;
    grid-template:
        "b a a a" 1fr
        "b c c c" 1.5fr / 1fr 3fr;
}
.chat-room-card:hover {
    box-shadow : none;
}
.chat-room-card:active {
    box-shadow: 1px 3px 5px 3px #dadce0 inset;
}
#user-view-container {
    grid-area : d;
    background : white;
}
#chat-container {
    grid-area : e;
    background : white;
    border-radius: 1.5rem;
}
.text-input-container{
    display: flex;
}

#messageInput{
    width: 80%;
}

.sendmessage-btn{
    font-size: 15px;
}

.img-container:hover {
    box-shadow : none;
}
.img-container:active {
    box-shadow: 1px 3px 5px 3px #dadce0 inset;
}

.chat-room-name {
    background : white;
    grid-area : a;
    border-bottom : 2px solid #ccc;
    justify-content: center;
    display : flex;
    align-items : center;

}
.chat-room-number {
    background : white;
    font-size : 2rem;
    color : #ccc;
    grid-area : b;
    border-right : 2px solid #ccc;
    justify-content: center;
    display : flex;
    align-items : center;

}
.chat-room-icon-container {
    background: white;
    grid-area : c;
    justify-content: center;
    display : flex;
    align-items : center;
    margin-left : auto;
}
.chat-room-icon {
    width : 20px;
    height : 20px;
    margin : 0 5px 0 25px;
}